.c2-img-cap, .c2-img-slide, .c2-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px; }

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 33px;
  font-family: Poppins; }

h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
  font-family: Poppins; }

h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  font-family: Poppins; }

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  font-family: Poppins; }

h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 33px;
  font-family: Poppins; }

h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 33px;
  font-family: Poppins; }

.sub-heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Lato", sans-serif; }

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Lato", sans-serif; }

.txt-sm {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  font-family: Poppins; }

blockquote {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: Poppins; }

ol, ul {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Lato", sans-serif; }

.txt-black {
  color: #202020; }

.txt-dark-gray {
  color: #9E9E9E; }

.txt-gray {
  color: #E2E2E2; }

.txt-light-gray {
  color: #F0F0F0; }

.txt-dark-blue {
  color: #0E81A5; }

.txt-blue {
  color: #1695C8; }

.txt-light-blue {
  color: #5ECDEF; }

.txt-vlight-blue {
  color: #E3F5FF; }

.txt-purple {
  color: #8B71A6; }

.txt-light-purple {
  color: #F3ECFF; }

.txt-red {
  color: #D12C4B; }

.txt-light-red {
  color: #fff2f2; }

.txt-pink {
  color: #F2719D; }

.txt-light-pink {
  color: #FFD8E5; }

.txt-orange {
  color: #FCC556; }

.txt-light-orange {
  color: #FFF6E9; }

.txt-green {
  color: #6FB553; }

.txt-light-green {
  color: #EDFFEE; }

.txt-yellow {
  color: #FFEA50; }

.txt-light-yellow {
  color: #FFFDE9; }

.txt-brown {
  color: #BF936B; }

.txt-light-brown {
  color: #FDF2E7; }

.bg-black {
  background-color: #202020; }

.bg-dark-gray {
  background-color: #9E9E9E; }

.bg-gray {
  background-color: #E2E2E2; }

.bg-light-gray {
  background-color: #F0F0F0; }

.bg-dark-blue {
  background-color: #0E81A5; }

.bg-blue {
  background-color: #1695C8; }

.bg-light-blue {
  background-color: #5ECDEF; }

.bg-vlight-blue {
  background-color: #E3F5FF; }

.bg-purple {
  background-color: #8B71A6; }

.bg-light-purple {
  background-color: #F3ECFF; }

.bg-red {
  background-color: #D12C4B; }

.bg-light-red {
  background-color: #fff2f2; }

.bg-pink {
  background-color: #F2719D; }

.bg-light-pink {
  background-color: #FFD8E5; }

.bg-orange {
  background-color: #FCC556; }

.bg-light-orange {
  background-color: #FFF6E9; }

.bg-green {
  background-color: #6FB553; }

.bg-light-green {
  background-color: #EDFFEE; }

.bg-yellow {
  background-color: #FFEA50; }

.bg-light-yellow {
  background-color: #FFFDE9; }

.bg-brown {
  background-color: #BF936B; }

.bg-light-brown {
  background-color: #FDF2E7; }

.c2-img-cap {
  color: #202020;
  font-size: 12px; }

.c2-img-card {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px; }

.c2-btn {
  font-size: 16px;
  padding: 10px 40px;
  color: white;
  background-color: #202020;
  border: 1px solid transparent;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.5;
  cursor: pointer; }
  .c2-btn:hover {
    color: white; }

.c2-disbtn {
  font-size: 16px;
  padding: 10px 40px;
  color: white;
  background-color: #E2E2E2;
  border: 1px solid transparent;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.5; }
  .c2-disbtn:hover {
    color: white; }

.c2-btn-outline {
  font-size: 16px;
  padding: 10px 40px;
  color: #202020;
  background-color: white;
  border: 1px solid #202020;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.5;
  cursor: pointer; }
  .c2-btn-outline:hover {
    color: #202020; }

.c2-disbtn-outline {
  font-size: 16px;
  padding: 10px 40px;
  color: #E2E2E2;
  background-color: white;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.5; }
  .c2-disbtn-outline:hover {
    color: #E2E2E2; }

.c2-btn-sm {
  font-size: 14px;
  padding: 8px 20px 7px 20px;
  color: white;
  background-color: #202020;
  border: 1px solid transparent;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.5;
  cursor: pointer; }
  .c2-btn-sm:hover {
    color: white; }

.c2-disbtn-sm {
  font-size: 14px;
  padding: 8px 20px 7px 20px;
  color: white;
  background-color: #E2E2E2;
  border: 1px solid transparent;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.5; }
  .c2-disbtn-sm:hover {
    color: white; }

.c2-btn-sm-outline {
  font-size: 14px;
  padding: 8px 20px 7px 20px;
  color: #202020;
  background-color: white;
  border: 1px solid #202020;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.5;
  cursor: pointer; }
  .c2-btn-sm-outline:hover {
    color: #202020; }

.c2-disbtn-sm-outline {
  font-size: 14px;
  padding: 8px 20px 7px 20px;
  color: #E2E2E2;
  background-color: white;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.5; }
  .c2-disbtn-sm-outline:hover {
    color: #E2E2E2; }

.c2-btn-block {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  cursor: pointer; }

a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #1695C8; }
  a:hover {
    text-decoration: none; }
  a:visited {
    font-family: "Lato", sans-serif;
    font-size: 14px; }

.c2-input-form {
  font-size: 16px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #9E9E9E;
  line-height: 1.5; }

.c2-select-form {
  background: #fff url(https://content.screencast.com/users/kalislami/folders/assets/media/29435cbe-9912-49a0-b0e1-7c252428db27/Triangle%20.png) no-repeat right 0.75rem center;
  background-size: 8px 10px;
  -webkit-appearance: none;
  font-size: 16px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #9E9E9E;
  line-height: 1.5; }

.c2-textarea-form {
  font-size: 16px;
  padding: 10px 15px;
  width: 100%;
  height: 135px;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #9E9E9E; }

.c2-idate-form {
  background: #fff url(https://content.screencast.com/users/kalislami/folders/assets/media/22a91cbf-7656-4f47-b797-f5b042d5ca72/ion-android-calendar%20-%20Ionicons.png) no-repeat right 0.75rem center;
  background-size: 15px 15px;
  -webkit-appearance: none;
  font-size: 16px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #9E9E9E;
  line-height: 1.5; }

.c2-check-form {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  .c2-check-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .c2-check-form:hover input ~ .checkmark {
    background-color: #E2E2E2; }
  .c2-check-form input:checked ~ .checkmark {
    background-color: #1695C8; }
  .c2-check-form input:checked ~ .checkmark:after {
    display: block; }
  .c2-check-form .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid #9E9E9E;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  /* Create the checkmark/indicator (hidden when not checked) */ }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none; }

.c2-rad-form {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #373a3c;
  /* Hide the browser's default radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  .c2-rad-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .c2-rad-form:hover input ~ .radmark {
    background-color: #E2E2E2; }
  .c2-rad-form input:checked ~ .radmark {
    background-color: white; }
  .c2-rad-form input:checked ~ .radmark:after {
    display: block; }
  .c2-rad-form input:disabled ~ .radmark {
    opacity: 0.3;
    cursor: auto; }
    .c2-rad-form input:disabled ~ .radmark:hover {
      background-color: white; }
  .c2-rad-form .radmark:after {
    top: 6px;
    left: 6px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #1695C8; }

.dis {
  color: #ececec !important; }
  .dis:hover input ~ .radmark {
    background-color: white; }

/* Create a custom radio button */
.radmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid #9E9E9E;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  /* Create the indicator (the dot/circle - hidden when not checked) */ }
  .radmark:after {
    content: "";
    position: absolute;
    display: none; }

/*pagination*/
.c2-pagination {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: inline-block; }
  .c2-pagination a {
    color: #202020;
    padding: 8px 16px;
    text-decoration: none;
    border: solid 1px #eceeef;
    margin: 0;
    font-weight: bold; }
    .c2-pagination a:hover:not(.active) {
      background-color: #f4f4f4; }
  .c2-pagination a.active {
    border: none;
    padding: 8px 16px;
    background-color: #1695C8;
    border: solid 1px #1695C8;
    color: white; }
  .c2-pagination a.prev, .c2-pagination a.next {
    border: none;
    padding: 8px 16px;
    display: inherit; }

.c2-menu {
  width: 100%;
  box-shadow: 0 1px #E2E2E2; }
  .c2-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white; }
    .c2-menu ul li {
      float: left; }
      .c2-menu ul li a {
        display: block;
        color: #202020;
        text-align: center;
        padding: 16px 20px;
        text-decoration: none;
        font-family: Poppins;
        font-size: 16px; }
        .c2-menu ul li a:hover {
          background-color: #f9fafb; }

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #202020; }

.c2-header {
  font-family: Poppins;
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #e2e2e2;
  padding: 5px 30px;
  margin: 0; }

.img-brand {
  max-width: 130px; }

@media screen and (min-width: 320px) {
  .c2-footer {
    text-align: center;
    width: 100%;
    height: auto;
    border-top: solid 1px #e2e2e2;
    bottom: 0;
    padding: 15px 0;
    background-color: white; } }
@media screen and (min-width: 414px) {
  .c2-footer {
    padding: 15px; } }
@media screen and (min-width: 768px) {
  .c2-footer {
    height: 50px;
    text-align: left; } }
@media screen and (min-width: 768px) and (min-height: 950px) {
  .c2-footer {
    position: fixed; } }
@media screen and (min-width: 320px) {
  .c2-footer .right-foot {
    text-align: center; } }
@media screen and (min-width: 768px) {
  .c2-footer .right-foot {
    text-align: right; } }

@media screen and (min-width: 320px) {
  .c2-footer-connect {
    text-align: center;
    width: 100%;
    height: auto;
    border-top: solid 1px #e2e2e2;
    bottom: 0;
    padding: 15px 0;
    background-color: white; } }
@media screen and (min-width: 414px) {
  .c2-footer-connect {
    padding: 15px; } }
@media screen and (min-width: 768px) {
  .c2-footer-connect {
    height: 40px;
    text-align: left;
    padding: 10px; } }
@media screen and (min-width: 768px) and (min-height: 950px) {
  .c2-footer-connect {
    position: fixed; } }
.c2-footer-connect .foot-text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #858585;
  margin-top: 100px;
  font-weight: 400; }
@media screen and (min-width: 320px) {
  .c2-footer-connect .right-foot {
    text-align: center;
    margin-top: 10px; }
    .c2-footer-connect .right-foot .p-about, .c2-footer-connect .right-foot .p-policy {
      padding-right: 20px;
      text-decoration: underline;
      font-size: 12px; }
    .c2-footer-connect .right-foot a > span.label-warning {
      border-radius: 3px;
      background-color: #fcc556;
      padding-top: 3px;
      font-size: 12px; } }
@media screen and (min-width: 768px) {
  .c2-footer-connect .right-foot {
    text-align: right;
    margin-top: 0; } }

.c2-footer-port {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border-top: solid 1px #e2e2e2;
  padding: 10px 0;
  bottom: 0;
  position: fixed; }
  @media screen and (max-width: 420px) {
    .c2-footer-port {
      display: none; } }
  .c2-footer-port .foot-text {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #858585;
    font-weight: 400; }
    .c2-footer-port .foot-text a {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      color: #1695c8;
      font-weight: 400; }
  .c2-footer-port .lang-switcher {
    text-align: right; }
    @media screen and (max-width: 420px) {
      .c2-footer-port .lang-switcher {
        margin-top: 10px;
        text-align: center; } }
    .c2-footer-port .lang-switcher a {
      color: #202020;
      font-size: 12px; }

.c2-footer-loginport {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border-top: solid 1px #e2e2e2;
  padding: 10px 55px;
  bottom: 0;
  position: inherit; }
  @media screen and (min-width: 320px) {
    .c2-footer-loginport .p-policy {
      color: #1695c8 !important;
      text-decoration: underline; } }
  @media screen and (min-width: 768px) {
    .c2-footer-loginport {
      padding: 10px 0px; }
      .c2-footer-loginport .p-policy {
        margin-right: 25px; }
      .c2-footer-loginport .lang-switcher br {
        display: none; } }
  @media screen and (min-height: 690px) {
    .c2-footer-loginport {
      position: absolute; } }
  @media screen and (max-width: 420px) {
    .c2-footer-loginport {
      height: auto;
      padding: 15px;
      text-align: center; } }
  @media screen and (max-width: 375px) {
    .c2-footer-loginport {
      padding: 15px 5px; } }
  .c2-footer-loginport .foot-text {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #858585;
    font-weight: 400; }
    .c2-footer-loginport .foot-text a {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      color: #1695c8;
      font-weight: 400; }
  .c2-footer-loginport .lang-switcher {
    text-align: right; }
    @media screen and (max-width: 420px) {
      .c2-footer-loginport .lang-switcher {
        margin-top: 10px;
        text-align: center; } }
    .c2-footer-loginport .lang-switcher a {
      color: #202020;
      font-size: 12px; }

.footer-flag {
  max-width: 18px; }

.active-language {
  background: #E2E2E2;
  padding: 5px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #202020; }

.foot-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #858585;
  margin-top: 100px;
  font-weight: 400; }
  .foot-text a {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #1695c8;
    margin-top: 100px;
    font-weight: 400; }

/*# sourceMappingURL=c2-ui-guideline.css.map */
