.welcome {
    font-size: 50px;
    color: #202020;
    font-weight: bold;
    font-family: Lato;
    padding: 50px;
}
.sidebar {
	background-color: #f4f4f4;
	padding: 30px 15px 30px 30px;
  min-height: 800px;
}
.nav {
	display: block;
    margin-top: 50px;
}
.brand {
	text-align: left;
	margin-bottom: 80px;
}
.brand img {
	width: 70%;
}
.brand p {
    font-size: 20px;
    letter-spacing: 3px;
    color: #202020;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Poppins;
    margin-left: 5px;
}
.tab-content {
	padding: 50px;
  margin-bottom: 100px;
}
.guide-title{
  margin-bottom: 50px;
}
.tface-label, .color-label {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  color: #202020;
}
.tface-content {
  font-family: Poppins;
  font-size: 60px;
  line-height: 0.55;
  letter-spacing: normal;
  color: #202020;
  margin-bottom: 50px;
}
.tface-lato {
  font-family: Lato;
  font-size: 60px;
  line-height: 0.55;
  letter-spacing: normal;
  color: #202020;
  margin-bottom: 50px;
}
.box-explain {
    padding: 20px 0 10px 0;
    background-color: #f4f4f4;
    text-align: center;
    margin-bottom: 100px;
}
.box-explain-label {
	  font-family: Poppins;
  	font-size: 12px;
  	font-weight: 300;
  	text-align: left;
  	color: #202020;
  	text-transform: uppercase;
}
.hier-style {
    background-color: #f4f4f4;
    width: 50%;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.color-main span{
	white-space: pre-line;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
}
.hier-style p, .color-detail p, .media-style p {
  white-space: pre-line;
  font-size: 10px;
  font-weight: 400;
  font-family: Lato;
}
.hier-content{
    padding-top: 30px;
}
.color-main {
	padding: 20px 30px 40px 30px;
  border-radius: 5px;
}
.color-detail {
	background-color: #f4f4f4;
  padding: 0 0 20px 20px;
  margin-bottom: 50px;
}
blockquote{
  padding: 0 10px 0 30px;
  border-left: 5px solid #f4f4f4;
}

/*sidebar*/
.nav li {
	list-style: none;
	margin: 10px;
}
.nav li p{
	font-size: 12px;
}
.nav li a{
	text-decoration: none;
	font-size: 16px;
	color: #202020;
	padding: 5px 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.nav li a:active, ul li a:hover {
	  text-decoration: none;
	  padding: 5px 10px;
    background-color: #1695c8;
    border-radius: 3px;
    color: #fff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #1695c8;
    border-radius: 3px;
}

/*media*/
.prev-img-cap {
    width: 400px;
    height: 300px;
    display: block;
    color: #c2c2c2;
    font-size: 40px;
    border-radius: 5px;
    background-color: #f9fafb;
    text-align: center;
    padding: 25%;
    border: solid 1px #c2c2c2;
}

.prev-img-slider {
    width: 400px;
    height: 250px;
    display: block;
    color: #c2c2c2;
    font-size: 40px;
    border-radius: 5px;
    background-color: #f9fafb;
    text-align: center;
    border: solid 1px #c2c2c2;
    padding: 16% 0;
}

.ion-chevron-left {
    position: absolute;
    left: 15px;
    top: 30px;
}
.ion-chevron-right {
    position: absolute;
    right: 15px;
    top: 30px;
}

.prev-img-slider a i{
  font-size: 20px;
  color: #c2c2c2
}

.ion-slider {
	margin: 130px;
}

.slider-dot {
	margin-top: 30px;
}

.dot-active {
  	width: 10px;
  	height: 10px;
  	background-color: #c2c2c2;
  	border: solid 1px #c2c2c2;
  	border-radius: 50%;
  	display: inline-block;
}

.dot {
	  width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: solid 1px #c2c2c2;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

.carousel {
    padding-top: 15px;
}

.carousel-indicators .active {
    background-color: #c2c2c2;
}

.carousel-indicators {
  bottom: -20px;
}

.prev-img {
    width: 400px;
    height: 250px;
    display: block;
    color: #c2c2c2;
    font-size: 40px;
    border-radius: 5px;
    background-color: #f9fafb;
    text-align: center;
    padding: 20%;
    border: solid 1px #c2c2c2;
}

.prev-img-card {
    width: 200px;
    height: 200px;
    display: block;
    color: #c2c2c2;
    font-size: 40px;
    border-radius: 5px;
    background-color: #f9fafb;
    text-align: center;
    padding: 14%;
    border: solid 1px #c2c2c2;
}

.media-style{
    background-color: #f4f4f4;
    width: 70%;
    padding: 20px 30px;
    margin-top: 35px;
}
.txt-img-cap{
    font-family: Lato;
    font-size: 12px;
    line-height: 2.16;
    text-align: left;
    color: #555555;
    font-weight: 400;
}
.media-row{
    margin-bottom: 60px;
}

.ui-radio label {
  display: block;
}

footer {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    color: #9e9e9e;
    bottom: 0;
    top: auto;
    right: 0;
    position: absolute;
    border-top: solid 1px #f0f0f0;
    width: 100%;
    padding: 25px;
}

.checkbox-container label {
  display: block;
}