// button
.c2-btn {
	@include button(16px,10px 40px,white,$black,1px solid transparent);
	cursor: pointer;
	&:hover {
		color: white;
	}
}

.c2-disbtn {
	@include button(16px,10px 40px,white,$gray,1px solid transparent);
	&:hover {
		color: white;
	}
}

.c2-btn-outline {
	@include button(16px,10px 40px,$black,white,1px solid $black);
	cursor: pointer;
	&:hover {
		color: $black;
	}
}

.c2-disbtn-outline {
	@include button(16px,10px 40px,$gray,white,1px solid $gray);
	&:hover {
		color: $gray;
	}
}

.c2-btn-sm {
	@include button(14px,8px 20px 7px 20px,white,$black,1px solid transparent);
	cursor: pointer;
	&:hover {
		color: white;
	}
}

.c2-disbtn-sm {
	@include button(14px,8px 20px 7px 20px,white,$gray,1px solid transparent);
	&:hover {
		color: white;
	}
}

.c2-btn-sm-outline {
	@include button(14px,8px 20px 7px 20px,$black,white,1px solid $black);
	cursor: pointer;
	&:hover {
		color: $black;
	}
}

.c2-disbtn-sm-outline {
	@include button(14px,8px 20px 7px 20px,$gray,white,1px solid $gray);
	&:hover {
		color: $gray;
	}
}

.c2-btn-block {
	font-size: 16px;
    padding: 10px 20px;
    @include border-rad(3px);
    font-family: "Lato", sans-serif;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    cursor: pointer;
}

a {
	font-family: $font_part;
	font-size: 14px;
	color: $blue;
	&:hover {
		text-decoration: none;	
	}
	&:visited {
		font-family: $font_part;
		font-size: 14px;
	}
}