// color

// text color
.txt-black {color: $black;}
.txt-dark-gray {color: $dark_gray;}
.txt-gray {color: $gray;}
.txt-light-gray {color: $light_gray;}
.txt-dark-blue {color: $dark_blue;}
.txt-blue {color: $blue;}
.txt-light-blue {color: $light_blue;}
.txt-vlight-blue {color: $vlight_blue;}
.txt-purple {color: $purple;}
.txt-light-purple {color: $light_purple;}
.txt-red {color: $red;}
.txt-light-red {color: $light_red;}
.txt-pink {color: $pink;}
.txt-light-pink {color: $light_pink;}
.txt-orange {color: $orange;}
.txt-light-orange {color: $light_orange;}
.txt-green {color: $green;}
.txt-light-green {color: $light_green;}
.txt-yellow {color: $yellow;}
.txt-light-yellow {color: $light_yellow;}
.txt-brown {color: $brown;}
.txt-light-brown {color: $light_brown;}

// background-color
.bg-black {background-color: $black;}
.bg-dark-gray {background-color: $dark_gray;}
.bg-gray {background-color: $gray;}
.bg-light-gray {background-color: $light_gray;}
.bg-dark-blue {background-color: $dark_blue;}
.bg-blue {background-color: $blue;}
.bg-light-blue {background-color: $light_blue;}
.bg-vlight-blue {background-color: $vlight_blue;}
.bg-purple {background-color: $purple;}
.bg-light-purple {background-color: $light_purple;}
.bg-red {background-color: $red;}
.bg-light-red {background-color: $light_red;}
.bg-pink {background-color: $pink;}
.bg-light-pink {background-color: $light_pink;}
.bg-orange {background-color: $orange;}
.bg-light-orange {background-color: $light_orange;}
.bg-green {background-color: $green;}
.bg-light-green {background-color: $light_green;}
.bg-yellow {background-color: $yellow;}
.bg-light-yellow {background-color: $light_yellow;}
.bg-brown {background-color: $brown;}
.bg-light-brown {background-color: $light_brown;}