// form
.c2-input-form {
	font-size: 16px;
	padding: 10px 15px;
	width:100%;
	@include border-rad(5px);
 	border: solid 1px $dark_gray;
 	line-height: 1.5;
}

.c2-select-form {
	background: #fff url(https://content.screencast.com/users/kalislami/folders/assets/media/29435cbe-9912-49a0-b0e1-7c252428db27/Triangle%20.png)no-repeat right .75rem center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    font-size: 16px;
	padding: 10px 15px;
	width:100%;
	@include border-rad(5px);
 	border: solid 1px $dark_gray;
 	line-height: 1.5;
}

.c2-textarea-form {
	font-size: 16px;
	padding: 10px 15px;
	width:100%;
	height: 135px;
	@include border-rad(5px);
 	border: solid 1px $dark_gray;
}

.c2-idate-form {
	background: #fff url(https://content.screencast.com/users/kalislami/folders/assets/media/22a91cbf-7656-4f47-b797-f5b042d5ca72/ion-android-calendar%20-%20Ionicons.png)no-repeat right .75rem center;
    background-size: 15px 15px;
    -webkit-appearance: none;
	font-size: 16px;
	padding: 10px 15px;
	width:100%;
	@include border-rad(5px);
 	border: solid 1px $dark_gray;
 	line-height: 1.5;
}

.c2-check-form {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-family: $font_part;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    input {
    	position: absolute;
	    opacity: 0;
	    cursor: pointer;	
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
    	background-color: $gray;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
	    background-color: $blue;
	}

	/* Show the checkmark when checked */
	input:checked ~ .checkmark:after {
	    display: block;
	}

	/* Style the checkmark/indicator */
	.checkmark:after {
	    left: 7px;
	    top: 2px;
	    width: 5px;
	    height: 12px;
	    border: solid white;
	    border-width: 0 3px 3px 0;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid $dark_gray;
    @include border-rad(2px);

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
    	content: "";
	    position: absolute;
	    display: none;
    }
}

.c2-rad-form {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-family: $font_part;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #373a3c;

    /* Hide the browser's default radio button */
    input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	}

	/* On mouse-over, add a grey background color */
	&:hover input ~ .radmark {
	    background-color: $gray;
	}

	/* When the radio button is checked, add a blue background */
	input:checked ~ .radmark {
	    background-color: white;
	}

	/* Show the indicator (dot/circle) when checked */
	input:checked ~ .radmark:after {
	    display: block;
	}

	input:disabled ~ .radmark {
		opacity: 0.3;
		cursor: auto;
		&:hover {
			background-color: white;
		}
	}

	/* Style the indicator (dot/circle) */
	.radmark:after {
	 	top: 6px;
		left: 6px;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background: $blue;
	}
}

.dis {
	color: #ececec !important;
	&:hover input ~ .radmark {
	    background-color: white;
	}
}

/* Create a custom radio button */
.radmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
   	background-color: white;
    border: 1px solid $dark_gray;
    @include border-rad(50%);

	/* Create the indicator (the dot/circle - hidden when not checked) */	
    &:after {
    	content: "";
		position: absolute;
		display: none;	
    }
}