// media
.c2-img-cap {
	@extend %media;
	color: $black;
	font-size: 12px;
}
.c2-img-slide {
	@extend %media;
}
.c2-img {
	@extend %media;
}
.c2-img-card {
	width: 200px;
	height: 200px;
	@include border-rad(5px);
}