/*pagination*/
.c2-pagination {
	font-size: 16px;
	font-family: $font_part;
	display: inline-block;
	a {
	    color: $black;
	    padding: 8px 16px;
	    text-decoration: none;
	    border: solid 1px #eceeef;
	    margin: 0;
	    font-weight: bold;
	    &:hover:not(.active) {
			background-color: #f4f4f4;
		}
	}
	a.active {
	    border: none;
	    padding: 8px 16px;
	    background-color: $blue;
	    border: solid 1px $blue;
	    color: white;
	}
	a.prev,a.next {
	    border: none;
	    padding: 8px 16px;
	    display: inherit;
	}
}