body {
    font-family: $font_part;
    font-size: 14px;
    color: #202020;
}

.c2-header {
	font-family: $font_global;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #e2e2e2;
    padding: 5px 30px;
    margin: 0;
}

.img-brand {
    max-width: 130px;
}

.c2-footer {

    @media screen and (min-width: 320px) {
        text-align: center;
        width: 100%;
        height: auto;
        border-top: solid 1px #e2e2e2;
        bottom: 0;
        padding: 15px 0;
        background-color: white;
    }
    @media screen and (min-width: 414px) {
        padding: 15px;
    }
    @media screen and (min-width: 768px) {
        height:50px;
        text-align: left;
    }
    @media screen and (min-width: 768px) and (min-height: 950px) {
        position: fixed;
    }

    .right-foot {
        @media screen and (min-width: $media-width-sxsm) {
            text-align: center;
        }
        @media screen and (min-width: $media-width-md) {
            text-align: right;
        }
    }
}

.c2-footer-connect {

    @media screen and (min-width: 320px) {
        text-align: center;
        width: 100%;
        height: auto;
        border-top: solid 1px #e2e2e2;
        bottom: 0;
        padding: 15px 0;
        background-color: white;
    }
    @media screen and (min-width: 414px) {
        padding: 15px;
    }
    @media screen and (min-width: 768px) {
        height: 40px;
        text-align: left;
        padding: 10px;
    }
    @media screen and (min-width: 768px) and (min-height: 950px) {
        position: fixed;
    }

    .foot-text {
        font-family: "Lato", sans-serif;
        font-size: 12px;
        color: #858585;
        margin-top: 100px;
        font-weight: 400;
    }

    .right-foot {
        @media screen and (min-width: 320px) {
            text-align: center;
            margin-top: 10px;

            .p-about, .p-policy {
                padding-right:20px;
                text-decoration: underline;
                font-size: 12px;
            }
            a > span.label-warning {
                border-radius: 3px;
                background-color: #fcc556;
                padding-top: 3px;
                font-size: 12px;
            }
        }
        @media screen and (min-width: 768px) {
            text-align: right;
            margin-top: 0;
        }
    }
}

.c2-footer-port {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-top: solid 1px #e2e2e2;
    padding: 10px 0;
    bottom: 0;
    position: fixed;

    @media screen and (max-width: $media-width-md) {
        
    }
    @media screen and (max-width: $media-width-sm) {
        display: none;
    }

    .foot-text {
        font-family: $font_part;
        font-size: 12px;
        color: #858585;
        font-weight: 400;
        a{
            font-family: $font_part;
            font-size: 12px;
            color: #1695c8;
            font-weight: 400;
        }
    }

    .lang-switcher {
        text-align: right;
        @media screen and (max-width: $media-width-sm) {
            margin-top: 10px;
            text-align: center;
        }
        a {
            color: $black;
            font-size: 12px;
        }
    }
}

.c2-footer-loginport {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-top: solid 1px #e2e2e2;
    padding: 10px 55px;
    bottom: 0;
    position: inherit;

    @media screen and (min-width: $media-width-sxsm) {
        .p-policy {
            color: #1695c8 !important;
            text-decoration: underline;
        }
    }

    @media screen and (min-width: $media-width-md) {
        padding: 10px 0px;
        .p-policy {
        margin-right: 25px;
        }
        .lang-switcher br {
            display: none;
        }
    }

    @media screen and (min-height: 690px) {
        position: absolute;
    }

    @media screen and (max-width: $media-width-md) {
        
    }
    @media screen and (max-width: $media-width-sm) {
        height: auto;
        padding: 15px; 
        text-align: center;
    }
    @media screen and (max-width: $media-width-xsm) {
        padding: 15px 5px;
    }

    .foot-text {
        font-family: $font_part;
        font-size: 12px;
        color: #858585;
        font-weight: 400;
        a{
            font-family: $font_part;
            font-size: 12px;
            color: #1695c8;
            font-weight: 400;
        }
    }

    .lang-switcher {
        text-align: right;
        @media screen and (max-width: $media-width-sm) {
            margin-top: 10px;
            text-align: center;
        }
        a {
            color: $black;
            font-size: 12px;
        }
    }
}

.footer-flag {
    max-width: 18px;
}

.active-language {
    background: $gray;
    padding: 5px;
    @include border-rad(4px);
    color: $black;
}

.foot-text {
    font-family: $font_part;
    font-size: 14px;
    color: #858585;
    margin-top: 100px;
    font-weight: 400;
    a{
        font-family: $font_part;
        font-size: 14px;
        color: #1695c8;
        margin-top: 100px;
        font-weight: 400;
    }
}