// fonts
$font_global 	: Poppins;
$font_part 		: "Lato", sans-serif;
// colors
$black 			: #202020;
$dark_gray 		: #9E9E9E;
$gray 			: #E2E2E2;
$light_gray 	: #F0F0F0;
$dark_blue		: #0E81A5;
$blue 			: #1695C8;
$light_blue		: #5ECDEF;
$vlight_blue	: #E3F5FF;
$purple 		: #8B71A6;
$light_purple	: #F3ECFF;
$red			: #D12C4B;
$light_red		: #fff2f2;
$pink			: #F2719D;
$light_pink		: #FFD8E5;
$orange			: #FCC556;
$light_orange	: #FFF6E9;
$green			: #6FB553;
$light_green	: #EDFFEE;
$yellow			: #FFEA50;
$light_yellow	: #FFFDE9;
$brown			: #BF936B;
$light_brown	: #FDF2E7;
// media query
$media-width-xlg		: 1440px;
$media-width-lg			: 1280px;
$media-width-xmd		: 1024px;
$media-width-md			: 768px;
$media-width-sm			: 420px;
$media-width-xsm		: 375px;
$media-width-sxsm		: 320px;
$media-height-ipad		: 1080px;


// mixin for border-radius
@mixin border-rad($radius){
	border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	-webkit-border-radius: $radius;
}

// mixin for hierarchy
@mixin hierarchy($font_size,$font_weight,$line_height,$font_family){
	font-size: $font_size;
	font-weight: $font_weight;
	line-height: $line_height;
	font-family: $font_family;
}

// mixin for button
@mixin button($font_size,$padding,$color,$bg,$border){
	font-size: $font_size;
	padding: $padding;
	color: $color;
	background-color: $bg;
	border: $border;
	@include border-rad(3px);
	font-family: $font_part;
	text-align: center;
	line-height: 1.5;
}

// mixin for menu
@mixin menu($bg){
	width: 100%;
	box-shadow: 0 1px $gray;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        li {
                float: left;
                a {
                    display: block;
                    color: $black;
                    text-align: center;
                    padding: 16px 20px;
                    text-decoration: none;
                    font-family: $font_global;
   					font-size: 16px;
                    &:hover {
                        background-color:$bg;
                    }
                }
            }
    }    
}

// mixin for form radio and checkbox


// extend for media
%media{
	max-width:100%;
	height: auto;
	display: block;
	@include border-rad(5px);
}